@import url('reset.css');
/* General Demo Style */
body{
    /*background:#f9f9f9 url(../img/white_texture.jpg) repeat top left;*/
	color: #333;
	font-family: 'Arial Black', Arial, sans-serif;
	font-size: 13px;
}

*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1100px;
	position: relative;
	margin: 0 auto;

}
a{
	color: #fff;
	text-decoration: none;
}
.main{
	position:relative;
    width: 680px;
    float: left;
    text-align: center;
}
.info
{
	width: 143px;
	height: 300px;
	float: left;

}
.descripcion-info{
	float: right;
}
.vinifan-identidad
{
	width: 823px;	
	float: right;

}

.identidad img
{	
	text-align: center;
	 box-shadow: 0 10px rgba(100, 100, 100, 0.2) inset,0px -0.5px 7.5px #CCC;
	 margin-bottom:20px;
}

h1{
	margin:0px;
	padding: 0 20px 10px 13px;
	font-size:30px;
	color:#333;
    text-shadow:1px 1px 1px #fff;
	text-align:left;
	font-weight:400;
    
}
h1 span{
    display:block;
	font-size: 14px;
    font-family: Georgia, serif;
    font-style: italic;
	color:#b2891b;
	padding-top:10px;
}
/* Index Elements */
#side-bar {
	position: fixed;
}
#contenedor-main {
	display: block;
	width: 840px;
	position: absolute;
	right: 30px;
}
.clear{
	clear: both;
}
.section-productos {
	margin: 5px 0;
}
.sec1-item01,
.sec1-item02,
.sec1-item04,
.sec1-item05 {
	float: left;
	margin: 0 10px 10px 10px;
	display: block;
	border-radius: 20px;
	overflow: hidden;
}
.sec1-item03,
.sec1-item06 {
	display: block;
	float: right;
	border-radius: 20px;
	overflow: hidden;
}
.sec1-item02,
.sec1-item05{
	margin: 0 0 10px 0;
}
.sec1-item01 {
	height: 206px;
	width: 206px;
}
.sec1-item02 {
	height: 205px;
	width: 395px;
}
.sec1-item03 {
	width: 205px;
	height: 425px;
	margin-left: 10px;
}
.sec1-item04 {
	width: 400px;
	height: 401px;
	
}
.sec1-item05 {
	width: 203px;
	height: 206px;
}
.sec1-item06 {
	width: 415px;
	height: 185px;
}
.s2 {
	height: 815px;
	overflow: hidden;
}
.sec2-item01,
.sec2-item04,
.sec2-item06{
	float: left;
	border-radius: 20px 0;
	margin-top: 5px;
	overflow: hidden;
}
.sec2-item02,
.sec2-item03,
.sec2-item05 {
	float: right;
	margin: 0 0 10px 5px;
	border-radius: 20px 0;
	overflow: hidden;
}
.sec2-item01 {
	width: 206px;
	height: 206px;
}
.sec2-item02 {
	width: 205px;
	height: 424px;
}
.sec2-item03 {
	width: 405px;
	height: 401px;
}
.sec2-item04 {
	width: 205px;
	height: 425px;
} 
.sec2-item05 {
	width: 626px;
	height: 377px;
}
.sec2-item06 {
	width: 206px;
	height: 206px;
}

.sec3-item01,
.sec3-item03,
.sec3-item06,
.sec3-item07{
	float: left;
	border-radius: 20px 0;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 3px;
}
.sec3-item02,
.sec3-item04,
.sec3-item05 {
	float: right;
	border-radius: 20px 0;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 3px;
}
.sec3-item01 {
	width: 396px;
	height: 205px;
}
.sec3-item02 {
	width: 405px;
	height: 400px;
}
.sec3-item03 {
	width: 405px;
	height: 400px;
}
.sec3-item04 {
	width: 192px;
	height: 580px;
}
.sec3-item05 {
	width: 208px;
	height: 208px;
}
.sec3-item06 {
	width: 206px;
	height: 426px;
} 

.sec3-item07 {
	width: 406px;
	height: 402px;
	margin-left: 10px;
}
.sec4-item01{
	width: 406px;
	height: 402px;
	float: left;
	border-radius: 20px 0;
	overflow: hidden;
}
.sec4-item02 {
	width: 406px;
	height: 402px;
	float: right;
	border-radius: 20px 0;
	overflow: hidden;
}
.bor-rad {
	border-radius: 20px 0;
	position: relative;
}
.item-hover a:hover {
	background-color: #239;

}
.show-info {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,255,0.5);
}
.show-info ul {
	margin-top: 20%;
	margin-left: 30%;
	list-style-type: circle;
}
/* Fin index Elements */




/* Header Style */
/*.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}


*/