@import url('reset.css');
/* General Demo Style */
body{
    background:#f9f9f9 url(../img/white_texture.jpg) repeat top left;
	color: #333;
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 13px;
}

*{
	margin: 0;
	padding: 0;

}
.wrapper{
	width: 1100px;
	position: relative;
	margin: 0 auto;

}
a{
	color: #fff;
	text-decoration: none;
}


.main{
	position:relative;
    width: 680px;
    margin: 0 auto;
    float: left;
    text-align: center;
}



.info
{
	width: 143px;
	height: 300px;
	float: left;

}
.vinifan-identidad
{
	width: 823px;	
	float: left;

}

.identidad img
{	
	text-align: center;
	 box-shadow: 0 10px rgba(100, 100, 100, 0.2) inset,0px -0.5px 7.5px #CCC;
	 margin-bottom:20px;
}

h1{
	margin:0px;
	padding: 0 20px 10px 13px;
	font-size:30px;
	color:#333;
    text-shadow:1px 1px 1px #fff;
	text-align:left;
	font-weight:400;
    
}
h1 span{
    display:block;
	font-size: 14px;
    font-family: Georgia, serif;
    font-style: italic;
	color:#b2891b;
	padding-top:10px;
}
/* Index Elements */
#contenedor-main {
	display: block;
	width: 840px;
	float: left;
}
.clear{
	clear: both;
}
.sec1-item01,
.sec1-item02,
.sec1-item04,
.sec1-item05 {
	float: left;
	margin: 0 10px 10px 10px;
	display: block;
	border-radius: 20px;
}
.sec1-item03,
.sec1-item06 {
	display: block;
	float: right;
	border-radius: 20px;
}
.sec1-item03 {
	
	margin-left: 10px;
}
.sec1-item04 {
	width: 400px;
}
.sec1-item05 {
	width: 203px;
}
.sec1-item02,
.sec1-item05{
	margin: 0 0 10px 0;
}
.s2 {
	height: 815px;
	overflow: hidden;
}
.sec2-item01,
.sec2-item04,
.sec2-item06{
	float: left;
	border-radius: 20px 0;
}

.sec2-item02,
.sec2-item03,
.sec2-item05 {
	float: right;
	margin: 0 0 10px 5px;
	border-radius: 20px 0;
}

.sec2-item02,
.sec2-item03 {
	height: 401px;
	overflow: hidden;
}


.sec3-item01,
.sec3-item03,
.sec3-item06,
.sec3-item07{
	float: left;
	border-radius: 20px 0;
}
.sec3-item02,
.sec3-item04,
.sec3-item05 {
	float: right;
	border-radius: 20px 0;
}
.sec4-item01{
	float: left;
	border-radius: 20px 0;
}
.sec4-item02 {
	float: right;
	border-radius: 20px 0;
}
.sec3-item07 {
	margin-left: 10px;
}
.bor-rad {
	border-radius: 20px 0;
}
/* Fin index Elements */




/* Header Style */
/*.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}


*/