/*-------------------Reset html--------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*
{
  margin: 0;
  padding: 0;
}
/*-----------------reset---------------*/

.wrapper
{
  width: 960px;
	margin: 0 auto;
  position: relative;
}

#side-bar
{
	width: 211px;	
  height: 100%;
	float: left;
	list-style: none;
	position: fixed;
  top: 0;
  left: 0;
}
.logo
{
  width: 211px;
  height: 111px;
  background-image: url(../img/logo.jpg);
  background-repeat: no-repeat;
  margin-bottom: 5px 0;
}

nav
{
	margin: 30px 60px 0 0;
	height: 400px;
  width: 100%;
}

nav li{
   list-style: none;
   position:relative; /* importante, para que el submenu tome la posición correcta*/
}
nav li a{
   color:#777772;
   text-decoration:none;
   padding: 5px;
   font-family: 'often', serif;
   display:block;
   font-size: 15px;
   border-top: 1px solid #003ab1;


  
}
nav li a:hover{
  color:#fff;
  list-style-type: square;
  background-color: #A5A5A2;
  border-top: none;  
  border-radius: 12px 0 12px 0;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1.5px 1.5px #CCC;
  -webkit-transition-duration: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;

  
}

nav li.parent:hover{
     
   color: #fff;
   border-top: 1px solid #fff;


}
nav li li a{
   width: 197px;/*el ancho de los links del submenu, debe ser fijo, esto servirá para crear la animación mas adelante */
   display:block;
   border-top: none;     
   font-size: 12px
}




/* aquí esta lo importante!! */
nav li ul {
      
   display:none;
   

}
nav li:hover ul {
   display: block;    
}
 
.logo_fb
{
  width: 30px;
  height: 30px;
  background-image: url(../img/facebook_logo.jpg);
  background-position: 30px;
  float: left;
  margin: 2px;
}
.logo_tw
{
  width: 30px;
  height: 30px;
  background-image: url(../img/facebook_logo.jpg);
  background-position: 0px;
  float: left;
  margin: 2px;
}


 .direccion
 {
 	margin-bottom: 0px;
 	font-size: 12px;
 	font-family: sans-serif;
 }
.contacto
{
  position: absolute;
  top:500px;
  border-bottom:1px solid #003ab1;
  width: 211px;
}
.contacto:hover
{
  border-bottom:none;
 
}

/*slider*/

#info
{
	font-size: 14px;
	margin-bottom: 0
}

 
ol, ul {
    list-style: none;
}
p
{
  top: -20px;
}
 
a img{
    border: none;
}
 
a { 
	text-decoration: none; 
}
 
.clearfix 
{
    display: block;
}
 
/* HTML5 para los navegadores viejos */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
 

#contenedor { 
    width: 830px;  /* sacar el % */
    max-width:830px;
    margin: 0 auto;
    float: right;
}
h2 {
    color: #D1C8BA;
    font-family: cursive;
    font-size: 2.3em;
    margin: 20px 0;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
}
/*     fin de slider   */

/*     inicio de productos  */

.productos{
  float:left;
  width:830px;
  height:auto;
 
  }
.cont_interior{
  float:left
  }
.cuadrito{
  float:left;
  width:205px;
  height:208px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  margin:0 10px 10px 0;
  border-radius: 28px 0 28px 0;
  }
  .cuadrito a
  {
    background-color: black;
  }

  .cuadrito2{
  float:left;
  width:205px;
  height:208px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -423px -221px;
  margin:0 10px 10px 0;
  border-radius: 28px 0 28px 0;
  }
  .cuadrito3{
  float:left;
  width:205px;
  height:208px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: 0 -635px;
  margin:0 10px 10px 0;
  border-radius: 28px 0 28px 0;
  }
  .cuadrito4{
  float:left;
  width:205px;
  height:208px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: 0 -1260px;
  margin:0 10px 10px 0;
  border-radius: 28px 0 28px 0;
  }

.rectangulo{
  float:left;
  width:400px;
  height:208px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -215px 0px;
  border-radius: 28px 0 28px 0;
  margin:0 10px 10px 0;}
.rectangulo2{
  float: right;
  width:420px;
  height:180px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -417px -438px;
  border-radius: 28px 0 28px 0;  

  }
.rectangulo3{
  float: right;
  width:615px;
  height:365px;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -212px -1080px;
  border-radius: 28px 0 28px 0;
  }
.cuadrado{
  float:left;
  width:400px;
  height:400px;
  margin:0 10px 10px 0;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -420px -638px;
  border-radius: 28px 0 28px 0;
}
.cuadrado2{
  float:left;
  width:400px;
  height:400px;
  margin:0 10px 10px 0;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: 0px -221px;
   border-radius: 28px 0 28px 0;
}

.clear{
clear:both;}

.cuadro_vertical{
  float: right;
  width:205px;
  height:430px;
  background:#333;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -630px 0px;
   border-radius: 28px 0 28px 0;
}

.cuadro_vertical2{
  float: right;
  width:205px;
  height:430px;
  background:#333;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -200px -636px;
  border-radius: 28px 0 28px 0;
}

.cuadro_vertical3{
  
  float: right;
  width:205px;
  height:430px;
  background:#333;
  background-image: url(../img/PAGINA-INICIAL.jpg);
  background-position: -0px -875px;
  border-radius: 28px 0 28px 0;
  

}

  /*    fin de productos  */

  